@import "_variables";

body {
  &.dark {
    background: $primary-dark;

    header {
      background-color: $secondary-dark;

      .myLinks.show {
        background-color: $secondary-dark;
      }

      h1 {
        color: $primary-dark;
      }

      nav > ul > li > a {
        color: $primary-dark;

        &:hover {
          color: $quaternary-dark;
        }
      }
    }

    h3 {
      color: $secondary-dark;
    }
    p,
    h2 {
      color: $light-color;
    }
    .label {
      background-color: $tertiary-dark;

      .ball {
        background-color: $quaternary-dark;
      }
    }

    .aboutme {
      background-color: $tertiary-dark;
      border-bottom: 4px double $quaternary-dark;

      h2 {
        color: $light-color;
      }

      img {
        border: 5px solid $quaternary-dark;
      }
      .column {
        .right-column {
          background-image: radial-gradient(
              rgba(58, 58, 89, 0.4),
              rgba(58, 58, 89, 0.6),
              rgba(58, 58, 89, 1),
              rgba(58, 58, 89, 1)
            ),
            url("./img/coding-background.jpg");
          background-color: $tertiary-dark;
          background-position: center;
          -webkit-background-size: contain;
          -moz-background-size: contain;
          -o-background-size: contain;
          background-size: contain;

          background-size: 100%;
        }

        .left-column {
          background-color: $tertiary-dark;
          a {
            color: $vibrant-dark;
          }
        }
      }
    }

    .icons-wrapper > .wrapper > .skills {
      color: $vibrant-dark;
    }

    span.icons-text {
      color: $vibrant-dark;
    }
    #other-projects {
      background-color: #292c35;
      // background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%2344475a' fill-opacity='0.31' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
    }
    #other-projects {
      #other-projects-container {
        button {
          background-color: $gray-dark;
          border: 1px solid $light-color;
          transition: $transition;
          color: $light-color;
          margin-top: 25px;

          &:hover {
            color: $tertiary-dark;
            background-color: $quaternary-dark;
            border: 1px solid $tertiary-dark;
          }
        }
      }
    }

    #other-projects
      > #other-projects-container
      > .my-other-work
      > .other-project,
    #myfeaturedwork > .myfeaturedwork-left > .info-featured-project,
    #myfeaturedwork > .myfeaturedwork-right > .info-featured-project {
      background-color: $quaternary-dark;
      color: $light-color;

      p {
        color: $light-color;
      }

      svg {
        color: $vibrant-dark;

        &:hover {
          color: $vibrant-dark;
        }
      }
    }

    #myfeaturedwork {
      h5,
      h4 {
        color: $light-color;
      }
      svg {
        color: $vibrant-dark;

        &:hover {
          color: $vibrant-dark;
        }
      }
    }

    #myportfolio {
      #portfolio {
        background-color: $primary-dark;

        .portfolio-panel {
          border: 10px solid $primary-dark;

          &:after {
            background: transparentize(#292c35, 0.8);
          }
          &:before {
            background: linear-gradient(
              to bottom,
              rgba(224, 218, 218, 0) 0%,
              rgba(149, 128, 252, 1) 75%
            );
          }

          .portfolio-content {
            h4 {
              color: $light-color;
              background-color: $quaternary-dark;
            }
          }
        }
      }
    }

    #contact-section {
      background-color: $gray-dark;

      & ul > a > li {
        color: $quaternary-dark;
        .cv-text {
          color: $gray-dark;
        }
      }

      h5 {
        color: $vibrant-dark;
      }

      .contact:hover {
        color: $vibrant-dark;
      }
    }

    footer {
      background-color: $quaternary-dark;
    }
  }
}

@media screen and (max-width: 767px) {
  body.dark .portfolio-content {
    background: linear-gradient(
      rgba(224, 218, 218, 0) 0%,
      rgba(149, 128, 252, 0.8) 10%,
      rgb(149, 128, 252) 85%
    ) !important;
  }
}
