@import "_variables";

* {
  margin: 0;
  padding: 0;
  font-family: $primary-font;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $primary-color;

  &.dark {
    background: $primary-dark;

    header {
      background-color: $secondary-dark;

      .myLinks.show {
        background-color: $secondary-dark;
      }

      h1 {
        color: $primary-dark;
      }
      nav > ul > li > a {
        color: $primary-dark;

        &:hover {
          color: $secondary-dark;
          background-color: $tertiary-dark;
        }
      }
    }

    h3 {
      color: $secondary-dark;
    }
    p,
    h2 {
      color: $light-color;
    }
    .label {
      background-color: $tertiary-dark;
    }

    .ball {
      background-color: $quaternary-dark;
    }

    .aboutme {
      background-color: $tertiary-dark;
      border-bottom: 4px double $quaternary-dark;

      img {
        border: 5px solid $quaternary-dark;
      }
      .right-column {
        background-image: radial-gradient(
            rgba(58, 58, 89, 0.4),
            rgba(58, 58, 89, 0.6),
            rgba(58, 58, 89, 1),
            rgba(58, 58, 89, 1)
          ),
          url("./img/coding-background.jpg");
        background-color: $tertiary-dark;
        background-position: center;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;

        background-size: 100%;
      }

      .left-column {
        background-color: $tertiary-dark;
        a {
          color: $vibrant-dark;
        }
      }
    }

    .icons-wrapper > .wrapper > .skills {
      color: $vibrant-dark;
    }

    span.icons-text {
      color: $vibrant-dark;
    }

    #myfeaturedwork > .my-featured-work > .featured-work {
      background-color: $quaternary-dark;
      color: $light-color;

      p {
        margin: 25px 0;
        color: $light-color;
      }
    }

    #myportfolio {
      #portfolio {
        background-color: $primary-dark;

        .portfolio-panel {
          border: 10px solid $primary-dark;
          &:after {
            background: transparentize(#67686e, 0.5);
          }
          &:before {
            background: linear-gradient(
              to bottom,
              rgba(224, 218, 218, 0) 0%,
              rgba(149, 128, 252, 1) 75%
            );
          }

          .portfolio-content {
            h4 {
              color: $light-color;
              background-color: $quaternary-dark;
            }
          }
        }
      }
    }

    #contact-section {
      background-color: #44475a;

      & ul > a > li {
        color: $quaternary-dark;
      }

      h5 {
        color: $vibrant-dark;
      }
    }

    footer {
      background-color: $quaternary-dark;
    }
  }
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: $secondary-color;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15%;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);

  .dracula {
    width: 19px;
    height: 19px;

    &:focus {
      outline: none;
    }
  }
}

.label .ball {
  display: inline-block;
  background-color: $quaternary-color;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-sun {
  color: $quaternary-color;
}

header {
  background-color: $tertiary-color;
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  height: 50px;
  z-index: 10;

  h1 {
    color: #fcfcfc;
    padding: 0px 0px;
    margin: 1px 30px;
    width: 35%;
    top: -8px;
    display: inline-block;
    font-size: 40px;
    font-family: $header-font;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .hamburger {
    background-color: transparent;
    border: 0;
    padding: 0 2px;
    color: $primary-color;
    font-size: 2.4rem;
    cursor: pointer;
    opacity: 0;

    &:focus {
      outline: none;
    }
  }

  nav {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;

    ul {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: wrap;
      max-width: 100%;
      margin: 5px auto;
      text-align: right;

      a {
        display: inline-block;
        color: $primary-color;
        text-transform: uppercase;
        text-decoration: none;
        font-family: $header-font;
        padding: 10px 10px;
      }
    }

    li {
      display: inline-block;
      font-size: 1.15rem;
      padding: 5px;

      a {
        margin: 0 40px;
        text-decoration: none;
        color: $primary-color;
        transition: $transition;

        &:hover {
          color: $tertiary-color;
          text-align: center;
          text-decoration: none;
          background-color: $secondary-color;
        }
      }
    }
  }
}

section {
  margin-bottom: 5%;
}

div a {
  color: $quaternary-color;
  display: inline-block;
}

/* ABOUT SECTION */

.aboutme {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  border-bottom: 4px double $quaternary-color;

  h2 {
    margin: 5%;
    color: $tertiary-color;
    font-family: $secondary-font;
    font-size: 2.2rem;
    line-height: 0.6rem;
    text-align: center;
    letter-spacing: 2px;
  }

  p {
    display: inline-block;
    font-size: 1rem;
    line-height: 1;
    margin-left: 20%;

    a {
      font-size: 1.3rem;
      line-height: 2.2rem;
      font-family: $secondary-font;
      text-align: right;

      &:hover {
        color: $quaternary-color;
        text-decoration-line: underline;
        text-decoration-style: double;
      }
    }
  }

  span {
    font-family: $secondary-font;
    font-size: 1.4em;
  }

  img {
    width: 300px;
    position: relative;
    border: 5px solid $primary-color;
    border-radius: 50%;
    margin: 5vh;
  }

  .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;

    .left-column {
      background-color: $secondary-color;
      color: $tertiary-color;
      display: inline-block;
      box-sizing: border-box;
      align-items: center;
      line-height: 2em;
      height: 35vh;
      padding: 2vh 40px;
    }

    .right-column {
      background-color: $secondary-color;
      height: 35vh;
      text-align: left;
      box-sizing: content-box;
    }
  }
}

/* MAIN SECTION */

main {
  max-width: 100%;
  box-sizing: border-box;
  // width: 1200px;
  // margin: 80px auto;
  // padding: 0 40px;

  h3 {
    color: $quaternary-color;
    font-size: 3rem;
    text-align: center;
    margin-top: 15px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 2px;
    padding: 5%;
  }

  p {
    line-height: 2em;
    color: #4b4b4b;
    margin-bottom: 2rem;
  }

  p::first-line {
    font-weight: 600;
    font-size: 1.2em;
  }

  p::first-letter {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 1.6em;
  }

  #myskills {
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;
    box-sizing: border-box;
  }

  span.icons-text {
    color: $dark-color;
    font-size: 0.3em;
    font-weight: lighter;
    line-height: 2em;
    display: inline-block;
    position: relative;
    text-align: center;
    transform: rotate(-50deg);
    font-family: $primary-font;
    margin: 0;
    padding: 0;
  }
}

.icons-wrapper {
  justify-content: center;
  align-items: center;
  grid-auto-flow: row;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    .skills {
      font-size: 3rem;
      color: $quaternary-color;
      text-align: center;
      transition: $transition;
      padding: 0;
    }

    .skill1:first-child:hover {
      color: #dd4b25;
    }

    .skill2:nth-child(2):hover {
      color: #2862e9;
    }

    .skill3:nth-child(3):hover {
      color: #fcdb3d;
    }

    .skill4:nth-child(4):hover {
      color: #4ad5ff;
    }

    .skill5:nth-child(5):hover {
      color: #563d7c;
    }

    .skill6:nth-child(6):hover {
      color: #000;
    }
  }
}

/* My featured work */

#myfeaturedwork {
  max-width: 100%;
  width: 1200px;
  margin: 80px auto;
  padding: 0 40px;
  box-sizing: border-box;

  a {
    padding: 1%;

    &:hover {
      color: inherit;
      transition: 0.5s ease;
      transform: scale(1.5);
    }
  }

  p {
    text-align: center;
    font-size: 0.9rem;
    margin: 1%;
    padding: 3%;
  }

  h4 {
    font-size: 0.9rem;
  }
  h5 {
    font-size: 1.5rem;
    font-weight: 700;
  }
  span {
    font-size: 0.7rem;
  }

  //PROJECT 1

  .myproject1 {
    @extend %my-project-card;
    padding: 20px;

    .box {
      color: $dark-color;
      text-align: right;
      padding: 20px;
      font-size: 150%;
      z-index: 5;
    }

    .projectimage {
      grid-column: col 1 / span 3;
      grid-row: row 1 / span 4;
      background-color: transparent;
      z-index: 0;
      display: flex;
      flex-direction: column;

      img {
        @extend %my-project-img;
        filter: grayscale(100%);

        &:hover {
          opacity: 1;
          filter: grayscale(10%);
        }
      }
    }
    .featured-project-title {
      grid-column: col 4;
      grid-row: row 1;
    }

    .e {
      grid-column: col 4;
      grid-row: row 4;
    }

    .f {
      grid-column: col 3 / span 2;
      grid-row: row 2 / span 2;
      background-color: $secondary-color;
      text-align: center;
      z-index: 6;
      border-radius: 35px;
      overflow: hidden;
    }
  }

  //PROJECT 2

  .myproject2 {
    @extend %my-project-card;

    .box {
      color: $dark-color;
      text-align: left;
      padding: 20px;
      font-size: 150%;
      z-index: 5;
    }

    .projectimage {
      grid-column: col 3 / span 3;
      grid-row: row 1 / span 4;
      background-color: transparent;
      z-index: 0;
      display: flex;
      flex-direction: column;

      img {
        @extend %my-project-img;

        &:hover {
          opacity: 1;
          filter: grayscale(10%);
        }
      }
    }
    .featured-project-title {
      grid-column: col 2;
      grid-row: row 1;
    }

    .e {
      grid-column: col 2;
      grid-row: row 4;
    }

    .f {
      grid-column: col 2 / span 2;
      grid-row: row 2 / span 2;
      background-color: $secondary-color;
      text-align: center;
      z-index: 6;
      border-radius: 35px;
      overflow: hidden;
    }
  }

  //featured-work

  .my-featured-work {
    width: 100%;
    height: 50%;
    padding: 50px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

    .featured-work {
      display: inline-block;
      background-color: $secondary-color;
      color: $dark-color;
      text-align: center;
      width: 300px;
      height: 300px;
      border-radius: 35px;
      transition: $transition;
      box-sizing: border-box;
      line-height: 2em;
      margin: 20px auto;
      padding: 20px;

      svg {
        font-size: 30px;
        color: $primary-color;
        margin: 2px 0;
      }

      p {
        margin: 25px 0;
        color: $dark-color;
      }
    }
  }
}

/* PORTFOLIO */

#myportfolio {
  max-width: 100%;
  width: 1200px;
  margin: 0px auto;
  padding: 0 0;
  box-sizing: border-box;

  #portfolio {
    display: flex;
    background-color: $primary-color;

    &:hover {
      .portfolio-panel {
        width: 23.3333%;
      }
    }
  }

  .portfolio-panel {
    transform: translate3d(0, 0, 0);
    position: relative;
    width: 25%;
    height: 50vh;
    min-height: 50vh;
    overflow: hidden;
    transition: width 0.5s ease;
    border: 10px solid $primary-color;

    &:before,
    &:after {
      transform: translate3d(0, 0, 0);
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    &:after {
      background: transparentize(#fcfcfc, 0.5);
      opacity: 1;
      transition: opacity 0.5s ease;
    }

    &:before {
      background: linear-gradient(
        to bottom,
        rgba(224, 218, 218, 0) 0%,
        rgba(248, 217, 214, 1) 75%
      );
      z-index: 1;
      opacity: 0;
      transform: translate3d(0, 0, 0) translateY(50%);
      transition: opacity 0.5s ease, transform 0.5s ease;
    }

    &:hover {
      width: 30% !important;

      &:after {
        opacity: 0;
      }

      &:before {
        opacity: 1;
        transform: translate3d(0, 0, 0) translateY(0);
        transition: opacity 1s ease, transform 1s ease 0.25s;
      }

      .portfolio-content {
        opacity: 1;
        transform: translateY(0);
        transition: all 0.75s ease 0.5s;
      }

      .portfolio-background {
        filter: grayscale(0);
      }
    }
  }

  .portfolio-content {
    transform: translate3d(0, 0, 0) translateY(25px);
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 1.618em;
    top: 45%;
    opacity: 0;

    h4 {
      width: 100%;
      padding: 5px;
      text-transform: uppercase;
      color: $dark-color;
      font-size: 1.44rem;
      font-weight: normal;
      background-color: $secondary-color;
    }
  }

  // .portfolio-title {
  //   padding: 1%;
  //   position: absolute;
  //   top: 40%;
  //   left: 50%;
  //   transform: translateX(-50%) translateY(-50%);
  //   z-index: 1;
  //   border-top: 2px solid $dark-color;
  //   border-bottom: 2px solid $dark-color;
  //   background-color: $primary-color;
  //   font-size: 1.3rem;
  // }

  .portfolio-background {
    transform: translate3d(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
    transition: filter 0.5s ease;
    filter: grayscale(100%);
  }
}

/* CONTACT SECTION */

#contact-section {
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px 20px;
  color: #4b4b4b;
  margin: 0;

  h5 {
    line-height: 3em;
    font-size: 2.6em;
    font-family: $secondary-font;
  }

  .contact-github {
    color: $quaternary-color;
    font-size: 50px;
    display: inline-block;
    text-align: center;
    padding: 20px auto;
    transition: $transition;

    &:hover {
      color: #24292e;
      transform: scale(1.5);
    }
  }

  .contact-linkedIn {
    color: $quaternary-color;
    font-size: 50px;
    display: inline-block;
    text-align: center;
    padding: 20px auto;
    transition: $transition;

    &:hover {
      color: #0073b1;
      transform: scale(1.5);
    }
  }

  .contact-email {
    color: $quaternary-color;
    font-size: 50px;
    display: inline-block;
    text-align: center;
    padding: 20px auto;
    transition: $transition;

    &:hover {
      color: #d4463a;
      transform: scale(1.5);
    }
  }
}

.girl-with-a-laptop {
  text-align: center;
  max-width: 100%;

  img {
    display: inline-block;
    list-style-type: none;
    width: 20%;
    margin: 10px 5px;
    position: relative;
    width: 300px;
  }
}

/* FOOTER */

footer {
  width: 100%;
  background-color: $quaternary-color;
  color: $primary-color;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
}

///*MEDIA*///

@media screen and (max-width: 1400px) {
  header h1 {
    font-size: 1.4rem;
    width: 50%;
    display: inline-block;
    display: flex;
    text-align: center;
    justify-content: center;
  }
}

@media screen and (max-width: 960px) {
  header {
    nav {
      ul {
        li {
          a {
            padding: 0;
            font-size: 10px;
          }
        }
      }
    }

    h1 {
      font-size: 25px;
    }
  }
  .aboutme {
    h2 {
      padding: 4%;
    }

    img {
      width: 240px;
    }
  }

  .icons-wrapper {
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;

    .wrapper {
      grid-template-columns: repeat(3, 1fr);

      span.icons-text {
        transform: rotate(0deg);
        display: grid;
        align-items: center;
        vertical-align: baseline;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  h2 {
    padding: 10px;
  }

  h3 {
    font-size: 12px;
  }

  p {
    font-size: small;
    text-align: justify;
    line-height: auto;
    padding: 5%;
  }

  #hamburger {
    opacity: 1;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
    margin: 1%;
  }

  header nav ul {
    display: inline-block;
    font-size: 10px;
  }

  .myLinks {
    display: none;
  }

  .myLinks.show {
    background-color: $tertiary-color;
    opacity: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    line-height: 2.5vh;
    top: 45px;
    right: 58vw;
  }

  .aboutme {
    display: flex;
    flex-direction: column;
    background-color: $secondary-color;

    p {
      font-size: 0.8rem;
      margin: 1.5%;
    }
    img {
      width: 250px;
      border: 2px solid $primary-color;
      padding: 0;
    }
  }

  .icons-wrapper {
    justify-content: center;
    align-items: center;
    grid-auto-flow: column;

    .wrapper {
      grid-template-columns: repeat(3, 1fr);

      span.icons-text {
        font-size: 9px;
      }
    }
  }

  //*Portfolio MEDIA SCREEN*//

  #portfolio {
    display: flex;
    flex-direction: column;
    margin: 0;
    transform: none;
    padding: 5%;
    &:hover {
      .portfolio-panel {
        width: 100% !important;
      }
    }

    .portfolio-panel {
      transform: none;
      transition: none;
      position: relative;
      border-radius: 35px;
      width: 100%;
      height: 25vh;

      &:after {
        background: transparent;
        transform: none;
      }
      &:before {
        background: transparent;
        transform: none;
      }

      &:hover {
        width: none;
        transform: none;
      }

      .portfolio-content {
        opacity: 1;
        transform: none;
        transition: none;
      }

      .portfolio-background {
        filter: grayscale(50%);
      }
    }
  }

  .portfolio-content {
    transform: none;

    h4 {
      width: 100%;
      padding: 5%;
      text-transform: uppercase;
      color: $dark-color;
      font-size: 1rem;
      font-weight: normal;
      background-color: $secondary-color;
      border-radius: 35px;
    }
    p {
      background: $light-color;
      border-radius: 35px;
      padding: 5%;
    }
  }
}

body.dark .portfolio-content {
  p {
    background-color: #44475a;
  }
}

@media screen and (max-width: 560px) {
  header h1 {
    font-size: 20px;
  }

  nav {
    .hamburger {
      opacity: 1;
    }

    li {
      display: block;
      width: 100%;
      margin: 12px 0;
    }
  }
  main h3 {
    font-size: 30px;
    margin: 10%;
    padding: 5%;
  }

  header,
  nav {
    position: relative;
    top: 0;
  }
}
