body main #myskills, body #myfeaturedwork .myfeaturedwork-left, body #myfeaturedwork .myfeaturedwork-right, body #other-projects #other-projects-container, body #myportfolio {
  max-width: 100%;
  width: 1200px;
  margin: 40px auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #other-projects #other-projects-container button {
  width: 300px;
  height: 50px;
  border-radius: 35px;
  outline: none;
}

body #myfeaturedwork .myfeaturedwork-left, body #myfeaturedwork .myfeaturedwork-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ([col] 2fr)[5];
      grid-template-columns: repeat(5, [col] 2fr);
  -ms-grid-rows: ([row] 100px)[4];
      grid-template-rows: repeat(4, [row] 100px);
  background-color: transparent;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10vh 0;
}

body #myfeaturedwork .myfeaturedwork-left .projectimage, body #myfeaturedwork .myfeaturedwork-right .projectimage {
  margin: 0;
  height: 100%;
  max-width: 100%;
  height: auto;
  -webkit-transition: -webkit-filter 0.5s ease-in;
  transition: -webkit-filter 0.5s ease-in;
  transition: filter 0.5s ease-in;
  transition: filter 0.5s ease-in, -webkit-filter 0.5s ease-in;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.8;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

body #myfeaturedwork .myfeaturedwork-left .info-featured-project, body #myfeaturedwork .myfeaturedwork-right .info-featured-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f8d9d6;
  text-align: center;
  z-index: 6;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
}

body main #myskills, body #myfeaturedwork .myfeaturedwork-left, body #myfeaturedwork .myfeaturedwork-right, body #other-projects #other-projects-container, body #myportfolio {
  max-width: 100%;
  width: 1200px;
  margin: 40px auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body #other-projects #other-projects-container button {
  width: 300px;
  height: 50px;
  border-radius: 35px;
  outline: none;
}

body #myfeaturedwork .myfeaturedwork-left, body #myfeaturedwork .myfeaturedwork-right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ([col] 2fr)[5];
      grid-template-columns: repeat(5, [col] 2fr);
  -ms-grid-rows: ([row] 100px)[4];
      grid-template-rows: repeat(4, [row] 100px);
  background-color: transparent;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 10vh 0;
}

body #myfeaturedwork .myfeaturedwork-left .projectimage, body #myfeaturedwork .myfeaturedwork-right .projectimage {
  margin: 0;
  height: 100%;
  max-width: 100%;
  height: auto;
  -webkit-transition: -webkit-filter 0.5s ease-in;
  transition: -webkit-filter 0.5s ease-in;
  transition: filter 0.5s ease-in;
  transition: filter 0.5s ease-in, -webkit-filter 0.5s ease-in;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.8;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

body #myfeaturedwork .myfeaturedwork-left .info-featured-project, body #myfeaturedwork .myfeaturedwork-right .info-featured-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #f8d9d6;
  text-align: center;
  z-index: 6;
  border-radius: 5px;
  overflow: hidden;
  padding: 10px;
}

body.dark {
  background: #292c35;
}

body.dark a {
  color: #4de975;
}

body.dark header {
  background-color: #e27cb3;
}

body.dark header .myLinks.show {
  background-color: #e27cb3;
}

body.dark header #hamburger {
  color: #292c35;
}

body.dark header h1 a {
  color: #292c35;
}

body.dark header nav > ul > li > a {
  color: #292c35;
}

body.dark header nav > ul > li > a:hover {
  color: #9580fc;
}

body.dark h3 {
  color: #e27cb3;
}

body.dark p,
body.dark h2 {
  color: #ebebeb;
}

body.dark .label {
  background-color: #393a59;
}

body.dark .label .ball {
  background-color: #9580fc;
}

body.dark .aboutme {
  background-color: #393a59;
  border-bottom: 4px double #9580fc;
}

body.dark .aboutme h2 {
  color: #ebebeb;
}

body.dark .aboutme img {
  border: 5px solid #9580fc;
}

body.dark .aboutme .column .right-column {
  background-image: radial-gradient(rgba(58, 58, 89, 0.4), rgba(58, 58, 89, 0.6), #3a3a59, #3a3a59), url("./img/coding-background.jpg");
  background-color: #393a59;
  background-position: center;
  background-size: contain;
  background-size: 100%;
}

body.dark .aboutme .column .left-column {
  background-color: #393a59;
}

body.dark .aboutme .column .left-column a {
  color: #4de975;
}

body.dark .icons-wrapper > .wrapper > .skills {
  color: #4de975;
}

body.dark span.icons-text {
  color: #4de975;
}

body.dark #other-projects {
  background-color: #292c35;
}

body.dark #other-projects #other-projects-container button {
  background-color: #292c35;
  border: 1px solid #ebebeb;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #ebebeb;
  margin-top: 25px;
}

body.dark #other-projects #other-projects-container button:hover {
  color: #393a59;
  background-color: #9580fc;
  border: 1px solid #393a59;
}

body.dark #other-projects > #other-projects-container > .my-other-work > .other-project,
body.dark #myfeaturedwork > .myfeaturedwork-left > .info-featured-project,
body.dark #myfeaturedwork > .myfeaturedwork-right > .info-featured-project {
  background-color: #9580fc;
  color: #ebebeb;
}

body.dark #other-projects > #other-projects-container > .my-other-work > .other-project p,
body.dark #myfeaturedwork > .myfeaturedwork-left > .info-featured-project p,
body.dark #myfeaturedwork > .myfeaturedwork-right > .info-featured-project p {
  color: #ebebeb;
}

body.dark #other-projects > #other-projects-container > .my-other-work > .other-project svg,
body.dark #myfeaturedwork > .myfeaturedwork-left > .info-featured-project svg,
body.dark #myfeaturedwork > .myfeaturedwork-right > .info-featured-project svg {
  color: #4de975;
}

body.dark #other-projects > #other-projects-container > .my-other-work > .other-project svg:hover,
body.dark #myfeaturedwork > .myfeaturedwork-left > .info-featured-project svg:hover,
body.dark #myfeaturedwork > .myfeaturedwork-right > .info-featured-project svg:hover {
  color: #4de975;
}

body.dark #myfeaturedwork .myfeaturedwork-right,
body.dark #myfeaturedwork .myfeaturedwork-left {
  -webkit-transition: -webkit-filter 0.5s ease-in;
  transition: -webkit-filter 0.5s ease-in;
  transition: filter 0.5s ease-in;
  transition: filter 0.5s ease-in, -webkit-filter 0.5s ease-in;
}

body.dark #myfeaturedwork .myfeaturedwork-right .projectimage,
body.dark #myfeaturedwork .myfeaturedwork-left .projectimage {
  -webkit-transition: -webkit-filter 0.5s ease-in;
  transition: -webkit-filter 0.5s ease-in;
  transition: filter 0.5s ease-in;
  transition: filter 0.5s ease-in, -webkit-filter 0.5s ease-in;
  -webkit-filter: hue-rotate(20deg) grayscale(40%) contrast(150%);
          filter: hue-rotate(20deg) grayscale(40%) contrast(150%);
}

body.dark #myfeaturedwork .myfeaturedwork-right .projectimage:hover,
body.dark #myfeaturedwork .myfeaturedwork-left .projectimage:hover {
  opacity: 1;
  -webkit-transition: -webkit-filter 0.5s ease-in;
  transition: -webkit-filter 0.5s ease-in;
  transition: filter 0.5s ease-in;
  transition: filter 0.5s ease-in, -webkit-filter 0.5s ease-in;
  -webkit-filter: grayscale(10%);
          filter: grayscale(10%);
}

body.dark #myfeaturedwork h5,
body.dark #myfeaturedwork h4 {
  color: #ebebeb;
}

body.dark #myfeaturedwork svg {
  color: #4de975;
}

body.dark #myfeaturedwork svg:hover {
  color: #4de975;
}

body.dark #myportfolio #portfolio {
  background-color: #292c35;
}

body.dark #myportfolio #portfolio .portfolio-panel {
  border: 10px solid #292c35;
}

body.dark #myportfolio #portfolio .portfolio-panel:after {
  background: rgba(41, 44, 53, 0.2);
}

body.dark #myportfolio #portfolio .portfolio-panel:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 218, 218, 0)), color-stop(75%, #9580fc));
  background: linear-gradient(to bottom, rgba(224, 218, 218, 0) 0%, #9580fc 75%);
}

body.dark #myportfolio #portfolio .portfolio-panel .portfolio-content h4 {
  color: #ebebeb;
  background-color: #9580fc;
}

body.dark #contact-section {
  background-color: #44475a;
}

body.dark #contact-section ul > a > li {
  color: #9580fc;
}

body.dark #contact-section ul > a > li .cv-text {
  color: #44475a;
}

body.dark #contact-section h5 {
  color: #4de975;
}

body.dark #contact-section .contact:hover {
  color: #4de975;
}

body.dark footer {
  background-color: #9580fc;
}

@media screen and (max-width: 767px) {
  body.dark .portfolio-content {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 218, 218, 0)), color-stop(10%, rgba(149, 128, 252, 0.8)), color-stop(85%, #9580fc)) !important;
    background: linear-gradient(rgba(224, 218, 218, 0) 0%, rgba(149, 128, 252, 0.8) 10%, #9580fc 85%) !important;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fcfcfc;
  max-width: 100vw;
  /* ABOUT SECTION */
  /* MAIN SECTION */
  /* My featured work */
  /* PORTFOLIO */
  /* CONTACT SECTION */
  /* FOOTER */
}

body .external-links {
  font-size: 25px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body .external-links a:hover {
  color: inherit;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body .checkbox {
  opacity: 0;
  position: absolute;
}

body .label {
  background-color: #f8d9d6;
  border-radius: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15%;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body .label .dracula {
  width: 18px;
  height: 18px;
}

body .label .dracula:focus {
  outline: none;
}

body .label .ball {
  display: inline-block;
  background-color: #ff8584;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: -webkit-transform 0.2s linear;
  transition: -webkit-transform 0.2s linear;
  transition: transform 0.2s linear;
  transition: transform 0.2s linear, -webkit-transform 0.2s linear;
}

body .checkbox:checked + .label .ball {
  -webkit-transform: translateX(24px);
          transform: translateX(24px);
}

body .fa-sun {
  color: #ff8584;
}

body header {
  background-color: #797979;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  z-index: 10;
}

body header h1 {
  color: #fcfcfc;
  padding: 0px 0px;
  width: 40%;
  display: inline-block;
  font-size: 40px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  white-space: nowrap;
}

body header h1 a {
  font-family: "Montserrat", sans-serif;
  margin-top: 10px;
  text-decoration: none;
  color: #fcfcfc;
}

body header h1 a:hover {
  text-decoration: none;
  color: #fcfcfc;
}

body header .hamburger {
  background-color: transparent;
  border: 0;
  padding: 0 2px;
  color: #fcfcfc;
  font-size: 2.4rem;
  cursor: pointer;
  opacity: 0;
}

body header .hamburger:focus {
  outline: none;
}

body header nav {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  white-space: nowrap;
}

body header nav ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: wrap;
  max-width: 100%;
  margin: 5px auto;
  text-align: right;
}

body header nav ul a {
  display: inline-block;
  color: #fcfcfc;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  padding: 10px 10px;
}

body header nav li {
  display: inline-block;
  font-size: 1.15rem;
  padding: 5px;
}

body header nav li a {
  margin: 0 40px;
  text-decoration: none;
  color: #fcfcfc;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

body header nav li a:hover {
  color: #ff8584;
  text-align: center;
  text-decoration: none;
}

body a {
  color: #ff8584;
  display: inline-block;
}

body a:hover {
  color: #ff8584;
}

body div p {
  text-align: justify;
  font-size: 0.8rem;
  margin: 10px;
  padding: 10px 10px 0 10px;
}

body .aboutme {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  border-bottom: 4px double #ff8584;
}

body .aboutme h2 {
  margin: 5%;
  color: #797979;
  font-family: "Homemade Apple", cursive;
  font-size: 2.2rem;
  line-height: 0.6rem;
  text-align: center;
  letter-spacing: 2px;
}

body .aboutme p {
  display: inline-block;
  font-size: 1rem;
  line-height: 1;
  margin-left: 22%;
}

body .aboutme p a {
  font-size: 1.3rem;
  line-height: 2.2rem;
  font-family: "Homemade Apple", cursive;
  text-align: right;
}

body .aboutme p a:hover {
  color: #ff8584;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
}

body .aboutme span {
  font-family: "Homemade Apple", cursive;
  font-size: 1.4em;
}

body .aboutme img {
  height: 35vh;
  width: auto;
  position: relative;
  border: 5px solid #fcfcfc;
  border-radius: 50%;
  margin: 5vh;
}

body .aboutme .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .aboutme .column .left-column {
  background-color: #f8d9d6;
  color: #797979;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2em;
  height: 35vh;
  padding: 2vh 40px;
}

body .aboutme .column .left-column a {
  margin-top: 2vh;
}

body .aboutme .column .right-column {
  background-color: #f8d9d6;
  height: 35vh;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

body main {
  max-width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body main h3 {
  color: #ff8584;
  font-size: 3rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
  padding: 3%;
}

body main p {
  line-height: 2em;
  color: #4b4b4b;
}

body main p::first-line {
  font-weight: 600;
  font-size: 1.2em;
}

body main p::first-letter {
  font-family: "Homemade Apple", cursive;
  font-weight: 700;
  font-size: 1.6em;
}

body main span.icons-text {
  color: #515151;
  font-size: 0.3em;
  font-weight: lighter;
  line-height: 2em;
  display: inline-block;
  position: relative;
  text-align: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: baseline;
  font-family: Verdana, Geneva, sans-serif;
}

body .icons-wrapper .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

body .icons-wrapper .wrapper .skills {
  font-size: 3rem;
  color: #ff8584;
  text-align: center;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 0;
}

body .icons-wrapper .wrapper .skill-html:hover {
  color: #dd4b25;
}

body .icons-wrapper .wrapper .skill-css:hover {
  color: #2862e9;
}

body .icons-wrapper .wrapper .skill-js:hover {
  color: #fcdb3d;
}

body .icons-wrapper .wrapper .skill-sass:hover {
  color: #c96195;
}

body .icons-wrapper .wrapper .skill-react:hover {
  color: #4ad5ff;
}

body .icons-wrapper .wrapper .skill-github:hover {
  color: #000;
}

body .icons-wrapper .wrapper .skill-yarn:hover {
  color: #2b8ab5;
}

body .icons-wrapper .wrapper .skill-npm:hover {
  color: #ca3e3d;
}

body .icons-wrapper .wrapper .skill-bootstrap:hover {
  color: #563d7c;
}

body .icons-wrapper .wrapper .skill-node:hover {
  color: #7cb701;
}

body .icons-wrapper .wrapper .skill-fire:hover {
  color: #f7a416;
}

body .icons-wrapper .wrapper .skill-postman:hover {
  color: #f15a24;
}

body #myfeaturedwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #myfeaturedwork #myfeaturedwork-p {
  max-width: 100%;
  width: 1200px;
  margin: auto;
  padding: 0 40px;
}

body #myfeaturedwork h4 {
  font-size: 0.9rem;
}

body #myfeaturedwork h5 {
  font-size: 1.5rem;
  font-weight: 700;
}

body #myfeaturedwork span {
  font-size: 0.7rem;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
  opacity: 0.7;
}

body #myfeaturedwork .myfeaturedwork-left .box {
  height: 100%;
  color: #515151;
  text-align: right;
  font-size: 150%;
  z-index: 5;
}

body #myfeaturedwork .myfeaturedwork-left .projectimage {
  grid-column: col 1 / span 3;
  grid-row: row 1 / span 4;
  background-color: transparent;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

body #myfeaturedwork .myfeaturedwork-left .projectimage:hover {
  opacity: 1;
  -webkit-filter: grayscale(10%);
          filter: grayscale(10%);
}

body #myfeaturedwork .myfeaturedwork-left .featured-project-title {
  grid-column: col 4;
  grid-row: row 1;
}

body #myfeaturedwork .myfeaturedwork-left .external-links {
  grid-column: col 4;
  grid-row: row 4;
  z-index: 7;
}

body #myfeaturedwork .myfeaturedwork-left .external-links a {
  padding-left: 20px;
}

body #myfeaturedwork .myfeaturedwork-left .info-featured-project {
  grid-column: col 3 / span 2;
  grid-row: row 2 / span 2;
}

body #myfeaturedwork .myfeaturedwork-left .info-featured-project p {
  padding: 0;
}

body #myfeaturedwork .myfeaturedwork-right .box {
  color: #515151;
  text-align: left;
  z-index: 5;
}

body #myfeaturedwork .myfeaturedwork-right .projectimage {
  grid-column: col 3 / span 3;
  grid-row: row 1 / span 4;
  background-color: transparent;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #myfeaturedwork .myfeaturedwork-right .projectimage:hover {
  opacity: 1;
  -webkit-filter: grayscale(10%);
          filter: grayscale(10%);
}

body #myfeaturedwork .myfeaturedwork-right .featured-project-title {
  grid-column: col 2;
  grid-row: row 1;
}

body #myfeaturedwork .myfeaturedwork-right .external-links {
  grid-column: col 2;
  grid-row: row 4;
}

body #myfeaturedwork .myfeaturedwork-right .external-links a:nth-child(2) {
  padding-left: 20px;
}

body #myfeaturedwork .myfeaturedwork-right .info-featured-project {
  grid-column: col 2 / span 2;
  grid-row: row 2 / span 2;
}

body #myfeaturedwork .myfeaturedwork-right .info-featured-project p {
  padding: 0;
}

body #other-projects {
  background-color: #fcfcfc;
  margin-bottom: 10vh;
}

body #other-projects h3 {
  padding: 0;
}

body #other-projects p {
  margin: 0;
  padding: 0;
}

body #other-projects #other-projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #other-projects #other-projects-container .title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 2fr 30px;
      grid-template-columns: 30px 2fr 30px;
}

body #other-projects #other-projects-container .my-other-work {
  width: 100%;
  height: auto;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #other-projects #other-projects-container .my-other-work .other-project {
  display: inline-block;
  background-color: #f8d9d6;
  color: #515151;
  text-align: center;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  line-height: 2em;
  margin: 20px 0;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #other-projects #other-projects-container .my-other-work .other-project .fa-folder {
  font-size: 30px;
  color: #ff8584;
  margin-left: 0;
}

body #other-projects #other-projects-container .my-other-work .other-project .external-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body #other-projects #other-projects-container .my-other-work .other-project .external-links a {
  padding-left: 20px;
}

body #other-projects #other-projects-container .my-other-work .other-project p {
  margin: 25px 0;
  color: #515151;
}

body #other-projects #other-projects-container .my-other-work .other-project h6 {
  font-size: 0.7rem;
  text-align: left;
  opacity: 0.7;
}

body #other-projects #other-projects-container button {
  background-color: #f5f5f5;
  border: 1px solid #797979;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #515151;
  margin-top: 25px;
}

body #other-projects #other-projects-container button:hover {
  color: #ff8584;
  background-color: #f8d9d6;
  border: 1px solid #ff8584;
}

body #other-projects #other-projects-container button span {
  margin: 10px;
}

body #myportfolio #portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fcfcfc;
}

body #myportfolio #portfolio:hover .portfolio-panel {
  width: 23.3333%;
}

body #myportfolio .portfolio-panel {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 50vh;
  min-height: 50vh;
  overflow: hidden;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  border: 10px solid #fcfcfc;
}

body #myportfolio .portfolio-panel:before, body #myportfolio .portfolio-panel:after {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

body #myportfolio .portfolio-panel:after {
  background: rgba(252, 252, 252, 0.5);
  opacity: 1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

body #myportfolio .portfolio-panel:before {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(90%, #f8d9d6));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #f8d9d6 90%);
  z-index: 1;
  opacity: 0;
  -webkit-transform: translate3d(0, 0, 0) translateY(50%);
          transform: translate3d(0, 0, 0) translateY(50%);
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, -webkit-transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease;
  transition: opacity 0.5s ease, transform 0.5s ease, -webkit-transform 0.5s ease;
}

body #myportfolio .portfolio-panel:hover {
  width: 30% !important;
}

body #myportfolio .portfolio-panel:hover:after {
  opacity: 0;
}

body #myportfolio .portfolio-panel:hover:before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0) translateY(0);
          transform: translate3d(0, 0, 0) translateY(0);
  -webkit-transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, -webkit-transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s;
  transition: opacity 1s ease, transform 1s ease 0.25s, -webkit-transform 1s ease 0.25s;
}

body #myportfolio .portfolio-panel:hover .portfolio-content {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.75s ease 0.5s;
  transition: all 0.75s ease 0.5s;
}

body #myportfolio .portfolio-panel:hover .portfolio-background {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

body #myportfolio .portfolio-content {
  -webkit-transform: translate3d(0, 0, 0) translateY(25px);
          transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 50%;
  opacity: 0;
}

body #myportfolio .portfolio-content h4 {
  width: 100%;
  padding: 10px;
  text-transform: uppercase;
  color: #515151;
  font-size: 1.44rem;
  font-weight: normal;
  background-color: #f8d9d6;
  border-radius: 5px;
}

body #myportfolio .portfolio-background {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  -webkit-transition: -webkit-filter 0.5s ease;
  transition: -webkit-filter 0.5s ease;
  transition: filter 0.5s ease;
  transition: filter 0.5s ease, -webkit-filter 0.5s ease;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

body #myportfolio .portfolio-background img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -ms-flex-line-pack: center;
      align-content: center;
}

body #contact-section {
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
  padding: 20px;
  color: #4b4b4b;
  margin: 0;
}

body #contact-section h5 {
  line-height: 3em;
  font-size: 2.6em;
  font-family: "Homemade Apple", cursive;
}

body #contact-section p {
  text-align: center;
  font-size: 1rem;
}

body #contact-section .contact {
  color: #ff8584;
  font-size: 50px;
  display: inline-block;
  text-align: center;
  padding: 20px auto;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  padding: 5px;
}

body #contact-section .contact:hover {
  color: #24292e;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

body #contact-section .cv-icon {
  position: relative;
  text-align: center;
}

body #contact-section .cv-icon .cv-text {
  font-size: 25px;
  color: #fcfcfc;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .girl-with-a-laptop {
  text-align: center;
  max-width: 100%;
}

body .girl-with-a-laptop img {
  display: inline-block;
  list-style-type: none;
  width: 300px;
  margin: 10px 5px;
  position: relative;
}

body footer {
  width: 100%;
  background-color: #ff8584;
  color: #fcfcfc;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer p {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1400px) {
  body header {
    display: inline-block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  body header h1 {
    font-size: 25px;
  }
  body header nav ul li a {
    font-size: 14px;
    padding: 5px 5px;
  }
}

@media screen and (max-width: 960px) {
  body header nav ul li a {
    padding: 0;
    font-size: 14px;
  }
  body header h1 {
    font-size: 1.6rem;
  }
  body .aboutme h2 {
    padding: 4%;
  }
  body .aboutme img {
    height: 250px;
    width: auto;
  }
  body #myskills h3 {
    margin-top: 3em;
  }
  body .icons-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-auto-flow: column;
  }
  body .icons-wrapper .wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  body h1 {
    font-size: 26px;
  }
  body h2 {
    padding: 10px;
  }
  body h3 {
    font-size: 12px;
  }
  body p {
    text-align: justify;
    line-height: auto;
  }
  body #hamburger {
    opacity: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -ms-flex-line-pack: end;
        align-content: flex-end;
    margin: 1%;
  }
  body #hamburger .fa-cross {
    display: none;
  }
  body header h1 a {
    margin-left: 0.2rem;
  }
  body header nav ul {
    display: inline-block;
    font-size: 10px;
  }
  body header nav ul li a:hover, body header nav ul li a:visited {
    color: Verdana, Geneva, sans-serif;
    background-color: transparent;
  }
  body .myLinks {
    display: none;
  }
  body .myLinks.show {
    background-color: #797979;
    opacity: 1;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    margin: 0;
    top: 48px;
    width: 100vw;
    left: 0;
  }
  body .aboutme {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #f8d9d6;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .aboutme .column > .left-column {
    margin-top: 20px;
    height: auto;
  }
  body .aboutme .column > .right-column {
    height: 125px;
    margin-bottom: 50px;
  }
  body .aboutme img {
    width: 250px;
    border: 2px solid #fcfcfc;
    padding: 0;
    margin: 0;
  }
  body .aboutme p {
    font-size: 0.8rem;
    line-height: initial;
    padding: 0;
    margin: 0;
  }
  body .icons-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    grid-auto-flow: column;
  }
  body .icons-wrapper .wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  body .icons-wrapper .wrapper span.icons-text {
    font-size: 9px;
  }
  body #myfeaturedwork > .myfeaturedwork-left > .external-links,
  body #myfeaturedwork > .myfeaturedwork-right > .external-links {
    text-align: right;
  }
  body #myfeaturedwork > .myfeaturedwork-left,
  body #myfeaturedwork > .myfeaturedwork-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    max-width: 100vw;
    margin: 6vh 0;
  }
  body #myfeaturedwork .featuredproject-background {
    padding: 2% 0;
    background-color: #fcfcfc;
    background: none;
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
  }
  body .myfeaturedwork-left .box,
  body .myfeaturedwork-right .box {
    width: calc(100vw - 80px);
    height: 100%;
    color: #515151;
    padding: 0;
    font-size: 150%;
    z-index: 5;
    background-color: transparent;
  }
  body .myfeaturedwork-left #myfeaturedwork article .featured-project-title h4,
  body .myfeaturedwork-right #myfeaturedwork article .featured-project-title h4 {
    display: none;
  }
  body .myfeaturedwork-left .featured-project-title,
  body .myfeaturedwork-right .featured-project-title {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-column: col 1;
    grid-row: row 2;
  }
  body .myfeaturedwork-left .featured-project-title h4,
  body .myfeaturedwork-right .featured-project-title h4 {
    display: none;
  }
  body .myfeaturedwork-left .featured-project-title h5,
  body .myfeaturedwork-right .featured-project-title h5 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 20px;
    margin: 0;
  }
  body #other-projects > #other-projects-container > .my-other-work {
    margin: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body #other-projects > #other-projects-container > .my-other-work .other-project {
    width: 100%;
    margin: 6vh 0;
  }
  body #portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    -webkit-transform: none;
            transform: none;
    padding: 0 !important;
  }
  body #portfolio:hover .portfolio-panel {
    width: 100% !important;
  }
  body #portfolio .portfolio-panel {
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    position: relative;
    border-radius: 5px;
    width: calc(100vw - 80px);
    height: 25vh;
    padding: 0 !important;
    border: none;
    margin: 20px 0;
  }
  body #portfolio .portfolio-panel .portfolio-content {
    margin: 0;
    padding: 10px;
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transition: none;
    transition: none;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(224, 218, 218, 0)), color-stop(10%, rgba(248, 217, 214, 0.8)), color-stop(85%, #f8d9d6));
    background: linear-gradient(rgba(224, 218, 218, 0) 0%, rgba(248, 217, 214, 0.8) 10%, #f8d9d6 85%);
    width: 100%;
    height: 100%;
  }
  body #portfolio .portfolio-panel .portfolio-background {
    -webkit-filter: grayscale(50%);
            filter: grayscale(50%);
  }
  body .portfolio-content {
    -webkit-transform: none;
            transform: none;
  }
  body #contact-section p {
    padding: 0 20px;
    text-align: justify;
    font-size: small;
    line-height: 2em;
  }
}

@media screen and (max-width: 560px) {
  body header h1 {
    font-size: 20px;
  }
  body nav .hamburger {
    opacity: 1;
  }
  body nav li {
    display: block;
    width: 100%;
    margin: 12px 0;
  }
  body main h3 {
    font-size: 26px;
  }
}
/*# sourceMappingURL=styles.css.map */